@charset "UTF-8";

html, body {
	min-height: 100%;
}

body {
	background-color: #FFF6E7;
	min-width: 960px;
	overflow-y: scroll;
	overflow-y: auto;
	padding: 120px 0 0;
	color: #643F04;
	font-family: Georgia, sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}
a:hover {
	opacity: .7;
}
ol, ul {
	list-style: none;
}

.header {
	background: #BFA882 url(../img/texture.png);
	left: 0;
	padding-top: 30px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.header-h1 {
	margin: 0;
	height: 50px;
	width: 100px;
	font-family: helvetica;
	text-shadow: 1px -1px rgba(255, 255, 255, .7);
}

.header-h1 a {
	text-decoration: none;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.page {
	visibility: visible;
	z-index: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	color: #643F04;
	margin-bottom: 50px;
	text-shadow: 1px -1px rgba(255, 255, 255, .7);
	box-shadow: 1px 10px 20px rgba(0, 0, 0, .3);
}

.one .story {
	border-color: #33a;
}
.story {
	height: 750px;
	margin: 0;
	min-width: 960px;
	padding: 0;
	position: relative;
}
.one {
	background-color: #9CFCF5;
}
.two {
	background-color: #F3FF9E;
}
.three {
	background-color: #E4FCFA;
}

.story-body {
	margin: 0 auto 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 300;
}

.text {
	zoom: 1;
	font-size: 19px;
	width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.navGlobal {
	width: 80%;
	margin: 0 auto;
}
.navGlobalItem {
	margin: 0;
	padding: 0;
	width: 50%;
}
.navGlobal li {
	text-shadow: 1px -1px rgba(255, 255, 255, .8);
	margin: 0 3px;
	padding: 5px;
	float: left;
}

.navGlobal a {
	padding: 5px;
}

.current {
	background: #CCCCCC;
}

.left {
	float: left;
}
.right {
	float: right;
}

.texture {
	background-image: url(../img/texture.png);
}
.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

/**
 * For IE 6, 7
 */
.cf {
	*zoom: 1;
}
